h1 Welcome
//- pre {{eventId}}
div
  button(ng-click="showstuff = !showstuff") show stuff
  pre(ng-show="showstuff") {{event|json}}

pre {{highlightedNeed|json}}

.needs-container
  .need(
    ng-repeat="need in event.needs track by $index"
  )
    | We have {{need.attributes.quantity}} out of {{need.attributes.expected}} {{need.attributes.name}}
    .completion
      md-progress-linear(
        ng-class="{'md-warn': getCompletion(need.attributes.quantity, need.attributes.expected) < 60}"
        md-mode="determinate"
        value="{{ getCompletion(need.attributes.quantity, need.attributes.expected) }}"
      )
    div Mecs cools :
      need-contributions(need-id="need.id")
    div
      button(ng-click="submitQuantity(need, needQuantityInputs[$index])") add
      input(
        type="number"
        ng-model="needQuantityInputs[$index]"
      )
      button(ng-click="seeDetails(need, $index)") see details
      button(ng-click="removeQuantity(need, needQuantityInputs[$index])") remove
